@(pregunta: Pregunta)

@main("Welcome to Play") {

    <h1 align="center">Pregunta</h1>
    
	<div align="center">
    <p>Preguntas acertadas @session.get("acertadas")</p>
	</div>
    
	<div align="center">
    <table> 
			<th>
				<td>@pregunta.enunciado<td>
			</th>
    		<tr>
				<td><a href="@routes.Application.responder(1)">@pregunta.opcion1</a></td>
			</tr>
    		<tr>
				<td><a href="@routes.Application.responder(2)">@pregunta.opcion2</a></td>
			</tr>
    		<tr>
				<td><a href="@routes.Application.responder(3)">@pregunta.opcion3</a></td>
			</tr>
    </table>
	</div>

}
